
<div class="home">
	<div class="navbar">
		
		<div class="links">
			<div class="l" routerLink='../../'>
				Home
			</div>
			<div class="l">
				Events
			</div>
			<div class="l" routerLink='../'>
				Team
			</div>
			<div (click)="scrolling('contacts')" class="l">
				Contacts
			</div>
			<div class="l">
				Feedback
			</div>
		</div>
	</div>
	<div class="text">
		<h2><b>Kabaddi Team</b></h2>
		<h2>IIT BHU Varanasi</h2>
		<h1>"Kabbadi defies physics ,once you touch the opponent</h1>
		<h1>the distance to the line increases"</h1>

	</div>
</div>
<div class="title" id='contacts'>Captains and Vice-Captains</div>
<mat-grid-list cols=3 rowHeight='450px'>
<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Kabaddi(M).jpg'></div>
<div class='name'><p>Vankudothu Sudhakar</p></div>
<div class='posi'><p>Captain (M)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 7995306675</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/vice_captain/Kabaddi(M).jpg'></div>
<div class='name'><p>Manideep Tedlapally</p></div>
<div class='posi'><p>Vice Captain (M)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 7330906459</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Kabaddi(W).jpg'></div>
<div class='name'><p>Sagorika Nag</p></div>
<div class='posi'><p>Captain (W)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 8866062293</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

</mat-grid-list>
<div class="title">Gallery</div>
<ng-image-slider [images]="imageObject" #nav></ng-image-slider>
