<div class="home">
	<div class="navbar">
		<img src="../../assets/logo1.png" height="70px">
		<div class="links">
			<div class="l">
				Sports
			</div>
			<div class="l">
				Events
			</div>
			<div class="l" routerLink='team'>
				Team
			</div>
			<div class="l">
				Contacts
			</div>
			<div class="l">
				Feedback
			</div>
		</div>
	</div>
	<div class="text">
		<h2><b>Games & Sports Council</b></h2>
		<h2>IIT BHU Varanasi</h2>
		<h1>"The Run is more important than the Race "</h1>

	</div>
</div>

<div class="msg">
	<div class="mtitle">
		our vision
	</div>
	<div class="words">
		<p>		The vision of The Games & Sports Council is to enroot and flourish a sports culture in the institute so that all individuals from all communities - student, faculty or non-technical staff - enjoy the thrill of whichever game they cherish. The aim of the council is to create an atmosphere where sports become an integral part of every individual's schedule. Numerous facilities and activities organized throughout the year are all attempts to cultivate and expand the level of competition among people passionate about the sport they love. Every council member continuously commits whole-hearted efforts for organizing each activity and tries to optimally cater to the problems faced by each individual or team.We here, at the Games and Sports Council, ensure that each person willing to participate in a sport they relate to, will be served with attention, facilities, opportunities and satisfaction.
</p>
	</div>
</div>

<div class="quote">
	<div class="qtxt">
		The difference between ordinary and extraordinary is
	</div>
	<div class="large">
		"Practice"
	</div>
</div>

<div class="details">
	<div class="det">
		<div class="title">Address</div>
		<div style="display: flex;">
			<div style="width: 10%;height: 100%"><div class="fa fa-map-marker"></div></div>
		<div style="width: 90%;height: 100%">
			<h1>IIT Gymkhana, Indian Institute of Technology, Banaras Hindu University Campus, Varanasi, Uttar Pradesh 221005</h1>
		</div>
		</div>
	</div>
	<div class="det">
		<div class="title">Social media</div>
 <div class="icons">
 	<div class='fa fa-twitter'></div>
 	<div class='fa fa-facebook'></div>
 	<div class='fa fa-youtube'></div>
 	<div class='fa fa-instagram'></div>
 </div>
 <div class="title">Relavent links</div>
<div class="srcs">
	<li><a href="https://iitbhu.ac.in/">IIT BHU</a></li>
	<li><a href="https://spardha.co.in/?i=1">Spardha</a></li>
</div>
	</div>
	<div class="det">
		<div class="title">Contacts</div>
		<div class="cont">
			<ul class="fa-ul">
				<li>Akshit Kumar General Secretary</li>
  <li><i class="fa-li fa fa-phone"></i>+91-7237874633</li>
  <li><i class="fa-li fa fa-envelope" ></i>gensec.sports@iitbhu.ac.in</li>
  <li>Akash Kumar Joint Secretary</li>
  <li><i class="fa-li fa fa-phone"></i>+91-7237874633</li>
  <li>Harshit Kumar Joint Secretary</li>
  <li><i class="fa-li fa fa-phone"></i>+91-7237874633</li>
  <li>Bandi Gayatri Joint Secretary</li>
    <li><i class="fa-li fa fa-phone"></i>+91-7237874633</li>
</ul>
		</div>
	</div>
</div>