<div class="home">
	<div class="navbar">
		<img src="../../assets/logo1.png" height="70px">
		<div class="links">
			<div class="l">
				Sports
			</div>
			<div class="l">
				Events
			</div>
			<div class="l">
				Team
			</div>
			<div class="l">
				Contacts
			</div>
			<div class="l">
				Feedback
			</div>
		</div>
	</div>
</div>

<div class="msg">
	<div class="mtitle">
		our vision
	</div>
	<div class="words">
		<p>		The vision of The Games & Sports Council is to enroot and flourish a sports culture in the institute so that all individuals from all communities - student, faculty or non-technical staff - enjoy the thrill of whichever game they cherish. The aim of the council is to create an atmosphere where sports become an integral part of every individual's schedule. Numerous facilities and activities organized throughout the year are all attempts to cultivate and expand the level of competition among people passionate about the sport they love. Every council member continuously commits whole-hearted efforts for organizing each activity and tries to optimally cater to the problems faced by each individual or team.We here, at the Games and Sports Council, ensure that each person willing to participate in a sport they relate to, will be served with attention, facilities, opportunities and satisfaction.
</p>
	</div>
</div>

<div class="quote">
	<div class="qtxt">
		The difference between ordinary and extraordinary is
	</div>
	<div class="large">
		"Practice"
	</div>
</div>

<div class="details">
	<div class="det">
		
	</div>
	<div class="det">
		
	</div>
	<div class="det">
		
	</div>
</div>