@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.fa {  
	width: 25px;
	font-size: 25px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	color: green;
	border-radius: 10%; 
			}

.home{
	background:url("../../assets/home-image.jpg");
	height:700px;
	background-size: cover;
    position: relative;
}

.navbar{
	height:70px;
	position:relative;
	top:0px;
}

.links{
	float:right;
	position:relative;
	height:100%;
	width :40%;
	display: flex;
    align-items: center;
}

.l{
	width: 20%;
	height:100%;
	color:white;
	display: flex;
    align-items: center;
    justify-content:center;
    font-size: 16px;
    font-weight: 300;
}
.l:hover{
	color:green;
}

.msg{
	width:100%;
	height:450px;
	display: flex;
    flex-direction: column;
    align-items: center;
    }

.mtitle{
	width:100%;
	height:100px;
	display: flex;
    align-items: center;
    justify-content:center;
    font-size:25px;
    text-transform: uppercase;
        font-weight: 900;
}

.title{
	height:70px;
	width:100%;
	font-size:20px;
	justify-content:center;
    font-size:25px;
    color:white;
    text-transform: uppercase;
        font-weight: 900;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}

.words{
    width:80%;
	height:400px;
}

p{
	text-align: center;
	font-family: "Roboto", Arial, sans-serif;
	font-size:20px;
	margin-bottom: 1.5em;
	color: #848484;
	line-height: 1.8;
	font-weight: 300;
}

.quote{
	width:100%;
	height:700px;
	background : url("../../assets/home-image-3.jpg");
	background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
        flex-direction: column;
    justify-content:center;
}

.qtxt{
    color: white;
	font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
    font-size:30px;
}

.large{
	color: white;
	font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
    font-size:50px;
}

.details{
	width:100%;
	height:700px;
	background:#222831;
	 display: flex;
}

.det{
	width:33%;
	height:100%;

}

.text{
	position: relative ;
	    top: 110px;
    left: 140px;
}
h2{
	font-size: 40px;
    line-height: 50px;
    color:white;
}
h1{
	color:white;
}

.icons{
position: relative;
    display: flex;
    align-items: center;
        flex-direction: row;
    justify-content:center;
    width :100%;
    height:70px;
	
}

.cont{
	position: relative;
    display: flex;
    align-items: center;
        flex-direction: column;
    justify-content:center;
    width :100%;
    height:650px;
}
.srcs{
	position: relative;
    display: flex;
    align-items: center;
        flex-direction: column;
    justify-content:center;
    width :100%;
    height:100px;
}
a {
  color: green;
  font-size:20px;
}

.contact{
	position: relative;
    display: flex;
    align-items: center;
        flex-direction: row;
    justify-content:center;
    width :100%;
    height:25px;

}

.no{
	position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    width:100%;
    height:30px;
}

.fa-phone{
	position :relative;
}
li{
	font-family: "Roboto", Arial, sans-serif;
	font-size:20px;
	margin-bottom: 1.5em;
	color: #848484;
	line-height: 1.8;
	font-weight: 300;

}