
<div class="home">
	<div class="navbar">
		
		<div class="links">
			<div class="l">
				Sports
			</div>
			<div class="l">
				Events
			</div>
			<div class="l">
				Team
			</div>
			<div class="l">
				Contacts
			</div>
			<div class="l">
				Feedback
			</div>
		</div>
	</div>
	<div class="text">
		<h2><b>Athletics Club</b></h2>
		<h2>IIT BHU Varanasi</h2>
		<h1>"There is more to boxing than hitting, </h1>
		<h1>there is not getting hit for example "</h1>

	</div>
</div>
<div class="title">Captains and Vice-Captains</div>
<mat-grid-list cols=3 rowHeight='450px'>
<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/vice_captain/Athletics(M).jpg'></div>
<div class='name'><p>Rahul Kumar Raman</p></div>
<div class='posi'><p>Vice Captain (M)</p></div>
<div class='name'><p>+91 6377361647</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Athletics(M).jpg'></div>
<div class='name'><p>Sujit Kumar</p></div>
<div class='posi'><p>Captain (M)</p></div>
<div class='name'><p>+91 9717953383</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Athletics(W).jpg'></div>
<div class='name'><p>Alagu Oviya </p></div>
<div class='posi'><p>Captain (W)</p></div>
<div class='name'><p>+91 8870142155</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

</mat-grid-list>
<div class="title">Gallery</div>
	<mat-grid-list cols=2 rowHeight='420px'>
<mat-grid-tile>
<img class="img1" src="../../assets/athletics/1.jpg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/athletics/2.jpg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/athletics/3.jpg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/athletics/4.jpg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/athletics/5.jpg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/athletics/6.jpg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/athletics/7.jpg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/athletics/8.jpg">
</mat-grid-tile>
</mat-grid-list>
