
<div class="home">
	<div class="navbar">
		
		<div class="links">
			<div class="l" routerLink='../../'>
				Home
			</div>
			<div class="l">
				Events
			</div>
			<div class="l" routerLink='../'>
				Team
			</div>
			<div class="l">
				Contacts
			</div>
			<div class="l">
				Feedback
			</div>
		</div>
	</div>
	<div class="text">
		<h2><b>Volleyball Club</b></h2>
		<h2>IIT BHU Varanasi</h2>
		<h1>"A good team can win a volleyball game when they are ahead, </h1>
		<h1>but only a great team can win when they are behind"</h1>

	</div>
</div>
<div class="title">Captains and Vice-Captains</div>
<mat-grid-list cols=2 rowHeight='450px'>
<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/vice_captain/Volleyball(M).jpg'></div>
<div class='name'><p>Himanshu Kumar</p></div>
<div class='posi'><p>Vice Captain (M)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 6205397368</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/vice_captain/Volleyball(W).jpg'></div>
<div class='name'><p>Pooja Gupta</p></div>
<div class='posi'><p>Vice Captain (W)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 7619918058</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Volleyball(M).jpg'></div>
<div class='name'><p>Roshan Lal Sahu</p></div>
<div class='posi'><p>Captain (M)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 9695534888</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Volleyball(W).jpg'></div>
<div class='name'><p>Ami Indurkhya</p></div>
<div class='posi'><p>Captain (W)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 9131529880</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

</mat-grid-list>
<div class="title">Gallery</div>
<ng-image-slider [images]="imageObject" #nav></ng-image-slider>
