
<div class="home">
	<div class="navbar">
		
		<div class="links">
			<div class="l">
				Sports
			</div>
			<div class="l">
				Events
			</div>
			<div class="l">
				Team
			</div>
			<div class="l">
				Contacts
			</div>
			<div class="l">
				Feedback
			</div>
		</div>
	</div>
	<div class="text">
		<h2><b>Badminton Club</b></h2>
		<h2>IIT BHU Varanasi</h2>
		<h1>"There is more to boxing than hitting, </h1>
		<h1>there is not getting hit for example "</h1>

	</div>
</div>
<div class="title">Captains and Vice-Captains</div>
<mat-grid-list cols=3 rowHeight='450px'>
<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Badminton(M).jpg'></div>
<div class='name'><p>Soumya  Pradhan</p></div>
<div class='posi'><p>Captain (M)</p></div>
<div class='name'><p>+91 9438016113</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/vice_captain/Badminton(M).jpg'></div>
<div class='name'><p>Yaman Thakur</p></div>
<div class='posi'><p>Vice Captain (M)</p></div>
<div class='name'><p>+91 8860466593</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Badminton(W).jpg'></div>
<div class='name'><p>Lovely Arya</p></div>
<div class='posi'><p>Captain (W)</p></div>
<div class='name'><p>+91 9399716893</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

</mat-grid-list>
<div class="title">Gallery</div>
	<mat-grid-list cols=3 rowHeight='400px'>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/1.jpeg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/2.jpeg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/3.jpeg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/4.jpeg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/5.jpeg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/6.jpeg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/7.jpeg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/8.jpeg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/9.jpeg">
</mat-grid-tile>
<mat-grid-tile>
<img class="img1" src="../../assets/boxing/10.jpeg">
</mat-grid-tile>
</mat-grid-list>
