
<div class="home">
	<div class="navbar">
		
		<div class="links">
			<div class="l" routerLink='../../'>
				Home
			</div>
			<div class="l">
				Events
			</div>
			<div class="l" routerLink='../'>
				Team
			</div>
			<div (click)="scrolling('contacts')" class="l">
				Contacts
			</div>
			<div class="l">
				Feedback
			</div>
		</div>
	</div>
	<div class="text">
		<h2><b>Badminton Team</b></h2>
		<h2>IIT BHU Varanasi</h2>
		<h1>"Badminton is like ballet dancing, it requires a lot control,</h1>
		<h1> strength, and mind-play and measured movement"</h1>

	</div>
</div>
<div class="title" id='contacts'>Captains and Vice-Captains</div>
<mat-grid-list cols=3 rowHeight='450px'>
<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Badminton(M).jpg'></div>
<div class='name'><p>Soumya  Pradhan</p></div>
<div class='posi'><p>Captain (M)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 9438016113</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/vice_captain/Badminton(M).jpg'></div>
<div class='name'><p>Yaman Thakur</p></div>
<div class='posi'><p>Vice Captain (M)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 8860466593</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Badminton(W).jpg'></div>
<div class='name'><p>Lovely Arya</p></div>
<div class='posi'><p>Captain (W)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 9399716893</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

</mat-grid-list>
<div class="title">Gallery</div>
<ng-image-slider [images]="imageObject" #nav></ng-image-slider>
