
<div class="home">
	<div class="navbar">
		
		<div class="links">
			<div class="l" routerLink='../../'>
				Home
			</div>
			<div class="l">
				Events
			</div>
			<div class="l" routerLink='../'>
				Team
			</div>
			<div (click)="scrolling('contacts')" class="l">
				Contacts
			</div>
			<div class="l">
				Feedback
			</div>
		</div>
	</div>
	<div class="text">
		<h2><b></b></h2>
		<h2></h2>
		<h1></h1>
		<h1></h1>

	</div>
</div>
<div class="title" id='contacts'>Captains and Vice-Captains</div>
<mat-grid-list cols=3 rowHeight='450px'>
<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/vice_captain/Khokho(M).jpg'></div>
<div class='name'><p> Vijay Kumar</p></div>
<div class='posi'><p>Vice Captain (M)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 9618435012</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Khokho(W).jpg'></div>
<div class='name'><p>Maheshwari Jadhav</p></div>
<div class='posi'><p>Captain (W)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 7219862611</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

<mat-grid-tile>
<div class='card'>
<div><img alt='img' src='../../assets/captain/Khokho(M).jpg'></div>
<div class='name'><p>Ashish Torane </p></div>
<div class='posi'><p>Captain (M)</p></div>
<div class='name'><p><i class='fa fa-phone'></i>+91 9689798759</p></div>
<div>
	<div class='fa fa-twitter'></div>
	<div class='fa fa-facebook'></div>
	<div class='fa fa-instagram'></div>
</div>
</div>
</mat-grid-tile>

</mat-grid-list>
<div class="title">Gallery</div>
<ng-image-slider [images]="imageObject" #nav></ng-image-slider>
